html, body
  margin: 0
  padding: 0
body
  text-rendering: optimizeLegibility
img
  border: none

h1, h2, h3, h4, h5, h6
  margin-top: 0px
  font-weight: 600

form
  position: relative

label
  // +uppercase-text
  // font-weight: bold
  &.with-lowercase
    text-transform: none
    
