.c-hero
  .row
    .large-12.columns
      %p.c-hero--headline BlueMap - Android App for iBeacon and Bluetooth LE monitoring

.row.b-row
  .medium-12.columns
    %h4 About Android BlueMap
    %p BlueMap is a free and open source application for iOS and Android Platforms, which detects Bluetooth Low Energy and iBeacon devices and lists them on an open street map.
    %p With Bluetooth LE and iBeacon new communication channels are gained in order to reduce the gap between the analogue and the digital world. Digital information can be mapped to physical spots and establish new business opportunities.
    %p With BlueMap, we are examining both technologies – Bluetooth Low Energy and iBeacon – and furthermore, surveying how many people already make use of this technology in their everyday business. We gather information about the distribution of bluetooth tags and you can participate and obtain our results, too! All found tags are freely accessible via BlueMap (available in PlayStore) or on our website.

%hr
.row.b-row
  .medium-12.columns
    %h4 Core functionality
    %h5 Scanning and survey:
    %p BlueMap scans your environment for Bluetooth Low Energy and iBeacon tags and lists them automatically on our open street map for you to see.
    %h5 Analysing:
    %p Each found bluetooth tag is listed chronologically. With a fingertip on a listed tag, you can see what exactly the bluetooth tag is sending.

%hr
.row.b-row
  .medium-12.columns
    %h4 Requirements
    %p BlueMap needs enabled GPS so that found tags can be listed properly on the map. Obviously, Bluetooth has to be activated on your device.
    %p Android devices are supported with version 4.3 Jelly Bean and upwards.

%hr
.row.b-row
  .medium-12.columns
    %h4 About us
    %p We are a group of 5 master students at the Institute for Media and Imaging Technology of Cologne University of Applied Sciences. This application arose within a one year master project with Prof. Dr. Luigi Lo Iacono. The Team Members in alphabetical order:
    %ul
      %li Peter L. Gorski
      %li Johannes Heck
      %li Philipp Netzer
      %li Thomas T.S. Ta
      %li Daniel B. Torkian
    %ul

%hr
.row.b-row
  .medium-12.columns
    %h4 License
    %p BlueMap is free and licensed under MIT. Visit us at <a href="https://github.com/yoyostile/beacon-cms" target="_blank">GitHub</a> to get the source code!

%hr
.row.b-row
  .medium-12.columns
    %h4 Supprt
    %p If you have any questions or suggestions, please don’t hesitate to <a href="mailto:wtf@wtf.wtf">contact us</a>!