%footer.row
  .large-6.columns
    Copyright by Whoopwhoop
  .large-6.columns
    %ul.inline-list.right
      %li= link_to 'FAQ', '#'
      %li= link_to 'Privacy', '#'
      %li= link_to 'Imprint', '#'